h3 {
  text-align:center;
  color: forestgreen;
}

.dark-background {
  background-color: darkslateblue;
  color: whitesmoke;
}

.jumbo-dark {
  background-color: darkslategray;
  color: whitesmoke;
}

.p-dark {
  background-color: aquamarine;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}